* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Work Sans", sans-serif;
    /* border: 1px solid red; */
}

.header {
    padding: 24px 48px;
    display: flex;
    justify-content: space-between;  /* alinhamento horizontal */
}

.lista {
    display: flex;
    gap: 40px;
}

a {
    border: 1px solid #2558EB;
    border-radius: 52px;
    padding: 16px 24px;
}

a.bg-blue {
    background-color: #2558EB;
    color: white;
}