* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
    /* border: 1px solid red; */
}

.header {
    padding: 24px 48px;
    display: flex;
    justify-content: space-between;  /* alinhamento horizontal */
}

.img-header {
    height: 36px;
}

.lista {
    display: flex;
    gap: 40px;
}

a.link-btn {
    border: 1px solid #2558EB;
    border-radius: 52px;
    padding: 16px 24px;
}

a {
    font-family: "Work-sans", sans-serif;
}

a.bg-blue {
    background-color: #2558EB;
    color: white;
}

.link-header {
    display: flex;
    gap: 24px;
}

.text-blue {
    color:#2558EB;
}
.primeira-section {
    background-image: url(assets/LOGO.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 113px;
    text-align: center;
}

.primeira-section > p {
    margin: 0 auto;
    margin-bottom: 43px;
    width: 50%;
}

.title-topo {
    font-size: 54px;
    font-weight: 500;
    margin: 0 auto;
    margin-top: 100px;
    width: 60%;
}

.section-secondary {
    padding: 0 48px;
    text-align: center;
}

.section-secondary > p {
    margin: 0 auto;
    width: 45%;
}

.title-secondary {
    color: #555555;
    font-size: 2.5rem;
    font-weight: 500;
}

.card-flex {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 24px;
    
}

.card-advantages {
    color: #fff;
    display: grid;
    gap: 24px;
    padding: 16px;
    text-align: start;
    background-color: #2558EB;
    width: 30%;
    border-radius: 8px;
}

.card-advantages > h3 {
    font-weight: 400;
    width: 35%;
}



.img-adv {
    border-radius: 8px;
    padding: 8px;
    background-color: #fff;
}

.eye {
    padding: 14.5px 8px ;
}